@font-face {
    font-family: 'railway';
    src: url('../fonts/railway/railway-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel-DecorativeBold';
    src: url('../fonts/cinzel-bold/CinzelDecorative-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alex';
    src: url('../fonts/alex/alex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stentiga';
    src: url('../fonts/stentiga/stentiga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#user-name {
    font-family: 'stentiga';
    color: white;
    text-shadow: 0px 2px 3px #000000;
}

#user-info {
    font-family: 'alex';
    color: white;
    text-shadow: 0px 2px 3px #000000;
}

#logo-font {
    font-family: 'Cinzel-DecorativeBold';
}

nav {
    box-shadow: 0px 2px 5px #000000;
}

header {
    padding-top: 2px;
    background: url('/profilePicture_header') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
    box-shadow: 0px 2px 5px #000000;
}

#control-panel {
    padding-top: 10px;
}

#panel-material {
    box-shadow: 0px 1px 2px #000000;
}

body {
    background-color: #D9D9D9;
}

fieldset legend {
    background-color: #F2F2F2;
}

#profile-image-inset {
    box-shadow: 0px 2px 3px #000000;
}

#profile-image {
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    z-index: 0;
}

#modalTitle {
    font-family: 'railway';
}

.title-bar{
    box-shadow          : 0em .2em .1em #d0d0d0;
}
