.user-name {
    color: white;
    text-shadow: 0px 2px 3px #000000;
}

.user-info {
    color: white;
    text-shadow: 0px 2px 3px #000000;
}

nav {
    box-shadow: 0px 2px 5px #000000;
}
.top-bar{
background-color: #ff9900;
}
header {
    padding-top: 2px;
    background: url('/profilePicture_header') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
    box-shadow: 0px 2px 5px #000000;
}

div.primary.title-bar{
    background: url('/profilePicture_header') no-repeat center center fixed;
    background-size: cover;
}

.control-panel {
    padding-top: 10px;
}

.panel-material {
    box-shadow: 0px 1px 2px #000000;
}

body {
    background-color: #2f2f2f;
}

fieldset legend {
    background-color: #F2F2F2;
}

#profile-image-inset {
    box-shadow: 0px .2em .3em #000000;
}

.profile-image {
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}